{
  "extends": [
    "ngerritsen",
    "ngerritsen-react"
  ],
  "globals": {
    "Modernizr": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "blockBindings": true,
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  }
}
