language: node_js
node_js:
  - "6.5"
install:
  - npm install
script:
  - npm test
  - npm run build
deploy:
  provider: heroku
  app: cloudboard-app
  skip_cleanup: true
  api_key:
    secure: $HEROKU_API_KEY
