@import 'variables';
@import 'colors';

$sound-key-size: 1.8rem;

.collection {
  margin-bottom: 4rem;
  padding: 0 $default-spacing;
}

.collection__title {
  position: relative;
  color: lighten($dark, 10%);
  border-bottom: 1px solid darken($light, 8%);
  font-size: 1.8rem;
  height: 3.3rem;
  font-weight: bold;
  padding-bottom: 1rem;
  margin: 0 0 2rem 0;
}

.collection__key {
  display: inline-block;
  position: relative;
  top: -1rem;
  left: 0.4rem;
  border-radius: 0.4rem;
  text-align: center;
  width: $sound-key-size;
  height: $sound-key-size;
  line-height: $sound-key-size;
  padding: 0;
  transition: background $key-press-animation-speed;
  color: $display-text-secondary;
  font-size: 1.3rem;
}

.collection__key--pressed {
  background-color: $display-text-secondary;
  color: $white;
}

.collection__help {
  position: relative;
  opacity: 0;
  left: 1.5rem;
  top: 0;
  color: $display-text-secondary;
  font-size: 1.2rem;
  transition: opacity $key-press-animation-speed;
}

.collection__help--active {
  opacity: 1;
}

.collection__help-secondary-tag {
  color: $white;
  border-radius: 0.4rem;
  background-color: lighten($orange, 12%);
  padding: 0.15rem 0.5rem;
}

@media screen and (min-width: 480px) {
  .collection {
    padding-left: $default-spacing-desktop;
    padding-right: $default-spacing-desktop;
  }
}
