@import 'variables';
@import 'colors';

.collection {
  background-color: transparentize($white, 0.2);
  box-shadow: 0 3px 4px darken($white, 5%);
  margin-bottom: 4rem;
  padding: 2rem $default-spacing 2rem;
}

.collection__title {
  position: relative;
  color: lighten($dark, 10%);
  font-size: 2.6rem;
  font-weight: lighter;
  margin: 0 0 2rem 0;
}

.collection__key {
  position: relative;
  top: -1rem;
  left: 0.8rem;
  border-radius: 0.6rem;
  padding: 0.2rem 0.6rem;
  transition: background $key-press-animation-speed;
  background-color: lighten($dark, 40%);
  color: $white;
  font-size: 1.3rem;
}

.collection__key--pressed {
  background-color: lighten($dark, 12%);
}

.collection__help {
  position: relative;
  opacity: 0;
  left: 2.5rem;
  top: -0.4rem;
  color: lighten($dark, 35%);
  font-size: 1.3rem;
  transition: opacity $key-press-animation-speed;
}

.collection__help--active {
  opacity: 1;
}

.collection__help-secondary-tag {
  color: $white;
  border-radius: 0.4rem;
  background-color: desaturate(lighten($orange, 12%), 15%);
  padding: 0.15rem 0.5rem;
}

@media screen and (min-width: 480px) {
  .collection {
    padding-left: $default-spacing-desktop;
    padding-right: $default-spacing-desktop;
  }

  .collection__title {
    font-size: 2.8rem;
  }
}
