@import 'variables';
@import 'colors';

.header {
  background-color: $white;
  border-bottom: 1px solid $border;
  height: $header-height;
  line-height: $header-height;
  padding: 0 $default-spacing;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header__title {
  color: $blue;
  display: inline-block;
  background: linear-gradient(to right, adjust-hue($primary, 10), adjust-hue($secondary, -10));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-transform: lowercase
}

.header__board-name {
  position: relative;
  color: $display-text-secondary;
  font-size: 1.6rem;
  font-weight: bold;
  float: right;
  padding-right: 1rem;
  top: 0.2rem;
}

.header__board-name-prefix {
  display: none;
}

@media screen and (min-width: 480px) {
  .header {
    height: $header-height-desktop;
    line-height: $header-height-desktop;
    padding: 0 $default-spacing-desktop;
  }

  .header__board-name-prefix {
    display: inline;
  }

  .header__title {
    font-size: 2.6rem;
  }
}
