@import 'variables';
@import 'colors';

.header {
  background-color: $white;
  box-shadow: 0 3px 4px transparentize($text, 0.8);
  height: $header-height;
  line-height: $header-height;
  padding: 0 $default-spacing;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header--title {
  color: $blue;
  display: inline-block;
  background: linear-gradient(to right, $blue, $purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.9rem;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-transform: lowercase
}

.header--board-name {
  position: relative;
  color: lighten($dark, 30%);
  font-size: 1.6rem;
  font-weight: bold;
  float: right;
  padding-right: 1rem;
  top: 0.2rem;
}

.header--board-name-prefix {
  display: none;
}

@media screen and (min-width: 480px) {
  .header {
    height: $header-height-desktop;
    line-height: $header-height-desktop;
    padding: 0 $default-spacing-desktop;
  }

  .header--board-name-prefix {
    display: inline;
  }

  .header--title {
    font-size: 3.1rem;
  }
}
