@import 'colors';

.loader-container {
  margin-top: 20vh;
}

.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load 1.4s infinite ease-in-out;
  animation: load 1.4s infinite ease-in-out;
}

.loader {
  color: $display-text;
  font-size: 1rem;
  margin: 0 auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.12s;
  animation-delay: -0.12s;
}

.loader:before {
  left: -2.2rem;
  -webkit-animation-delay: -0.26s;
  animation-delay: -0.26s;
}

.loader:after {
  left: 2.2rem;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

@-webkit-keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
