@import 'colors';
@import 'variables';

.player {
  background: $light;
  border-top: 1px solid darken($light, 10%);
  height: $player-height;
  padding: 0 $default-spacing;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.4rem;
  z-index: 11;
}

.player__message {
  color: lighten($dark, 15%);
  line-height: $player-height;
  margin: 0;
}

.player__icon {
  width: 3.6rem;
}

.player__secondary {
  opacity: 0.6;
}

@media screen and (min-width: 480px) {
  .player {
    height: $player-height-desktop;
    padding: 0 $default-spacing-desktop;
    font-size: 1.6rem;
  }

  .player__message {
    line-height: $player-height-desktop;
  }

  .player__unlock {
    right: $default-spacing-desktop;
  }
}
