@import 'colors';
@import 'variables';

$sound-key-size: 1.7rem;

.sound {
  position: relative;
  background-color: $white;
  border: 1px solid $primary;
  border-radius: 0.4rem;
  color: $primary;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 1rem 1rem 0;
  padding: 0.6rem 1.2rem;
  text-transform: uppercase;
  width: 100%;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    cursor: pointer;
    background-color: $primary;
    color: $white;
  }
}

.sound--favorite {
  border: 1px solid $orange;
  color: $orange;

  &:hover,
  &:active,
  &:focus {
    background-color: $orange;
  }
}

.sound--has-action {
  padding-right: 1.8rem;
}

.sound__action {
  margin: -0.5rem -0.9rem -0.5rem 0.4rem;
  padding: 0.5rem;
}

.sound__action--favorite:hover {
  color: $orange;
}

.sound__action--remove:hover {
  color: saturate($red, 10%);
}

.sound__key {
  position: absolute;
  pointer-events: none;
  opacity: 1;
  top: -0.6rem;
  right: -0.6rem;
  border-radius: 0.4rem;
  width: $sound-key-size;
  height: $sound-key-size;
  line-height: $sound-key-size;
  padding: 0;
  text-align: center;
  transition: background, $key-press-animation-speed, opacity $key-press-animation-speed;
  background-color: $orange;
  color: $white;
  font-size: 1.2rem;
  font-weight: normal;
}

@media screen and (min-width: 480px) {
  .sound {
    width: auto;
  }
}
