@import 'colors';
@import 'variables';

.sound {
  position: relative;
  background-color: lighten($primary, 46%);
  border: 1px solid lighten($primary, 6%);
  border-radius: 0.4rem;
  color: desaturate($primary, 5%);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 1rem 1rem 0;
  padding: 0.6rem 1.2rem;
  text-transform: uppercase;
  width: 100%;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    cursor: pointer;
    background-color: lighten($primary, 10%);
    color: $white;
  }
}

.sound__key {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  top: -0.6rem;
  right: -0.6rem;
  border-radius: 0.5rem;
  padding: 0.15rem 0.5rem;
  box-shadow: -1px 1px 2px transparentize($dark, 0.8);
  transition: background, $key-press-animation-speed, opacity $key-press-animation-speed;
  background-color: lighten($dark, 35%);
  color: $white;
  font-size: 1.2rem;
  font-weight: normal;

  .sound--pressed & {
    box-shadow: -2px 2px 3px transparentize($dark, 0.6);
    background-color: lighten($dark, 10%);
  }
}

.sound__key--active {
  opacity: 0.6;
}

.sound__key--is-option.sound__key--active {
  opacity: 1
}

.sound__key--secondary {
  background-color: desaturate(lighten($orange, 12%), 15%);

  .sound--pressed & {
    background-color: desaturate($orange, 10%);
  }
}

@media screen and (min-width: 480px) {
  .sound {
    width: auto;
  }
}
